.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: none;
  position: relative;
  float: right;
  top: 10px;
}
  
th.up .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  display: inline-block;
}

th.down .arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: inline-block;
  top: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sticky {
  position: sticky;
  top: 0;
}

.nav-colored { 
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.pointer { 
  cursor: pointer;
}

.right-icon {
  display: block;
  text-align: end;
}

.footer {
  background-color: grey;
  color: white;
  margin-right: 0px;
  text-align: center;
}

.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 2s blink ease infinite;
  -ms-animation: 2s blink ease infinite;
  -o-animation: 2s blink ease infinite;
  animation: 2s blink ease infinite;
  
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .right-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #uct-logo {
       width: 250px;
  }
}

@media screen and (max-width: 350px) {
  #uct-logo {
       width: 200px;
  }
}